{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="icon" href="{% static 'accounts/img/favicon.ico' %}">
        <link href="{% static 'accounts/fonts/Intelo-Medium.ttf' %}" rel="stylesheet" type="text/css">
        <link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    	<title>Authentication</title>

    	<!-- Bootstrap core CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    	<!-- Custom styles for this template -->
    	<link href="{% static 'accounts/css/authentication.css' %}" rel="stylesheet">
	</head>
	<body>
		<div id="particles-js" >
            <div class="form-center">
                {% block form %}{% endblock %}
    	    </div>
        </div>
  	</body>
	<script src="{% static 'accounts/js/particles.min.js' %}"></script>
	<script src="{% static 'accounts/js/app_particles.js' %}"></script>
</html>